*{
    border: none;
    outline: none;
    font-family: sans-serif;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.card{

    width: 400px;
    height: min-content;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    width: 85%;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    /* background-color: #e6f5fb; */
    padding: 10px 15px ;
   
    border-bottom: 1px solid;
    
}

.search-box button{
    width: 50px;
    height: 50px;
    margin-left: 2%;
    /* background-color: #e6f5fb; */
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search-box button:hover{
    color: white;
    background-color: gray;
}